body {
  background-color: lightblue;
}


h1 {
  font: Verdana ;
  color: red;
  text-align: center;

}

h2 {
  color: navy;
  font: 20px verdana, georgia;
}

p {
  font: 15px verdana;
  color: navy

}

a {
	font: 15px verdana;
}

a:hover {
	color: red
}

a:link {
   color: navy;
}

a:visited {
	color: red
}
