body {
	background-color: white;
}

.header {
	font: 36px Verdana, Helvetica;
	font-weight: bold;
	color: navy;
}

.list {
	list-style: cjk-earthly-branch;
}

.info {
	font: 14px Helvetica;
}

li {
	font: 14px Helvetica;
}


